<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th>Enlace</th>
        </tr>
    </thead>
    <tbody *ngFor="let p of paises; let i = index">
        <td>{{i + 1}}</td>
        <td>
            <img src="{{p.flags.png}}" alt="" class="small-flag">
        </td>
        <td>{{p.name.common}}</td>
        <td>{{ p.population | number}}</td>
        <td>
            <a>{{p.name.common}}</a>
        </td>
    </tbody>

</table>